.intro {
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    background-size: cover !important;
    padding-left: 155px;
}

.intro .spacer {
    height: 100px;
}

.intro .slogan {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--sky-paste);
}

.intro h1 {
    font-size: 50px;
    margin: 0;
}

.intro .description {
    display: inline-block;
    max-width: 80ch;
}

.intro .get_started-btn {
    display: block;

    margin-top: 25px;
    padding: 15px 50px;

    font-size: 20px;
    font-weight: 600;

    background-color: var(--sky-paste);
    border: none;
    color: white;
}